/* Landing page animation CSS */

.animate-container {
    /* padding-top: 350px; */
    position: relative;
    top: 8em;
    min-width: 100vw;
    min-height: 100%;
    font-size: 48px;
}

.landing-animation {
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing-animation p {
    display: inline-flex;
    font-family: "Lato", sans-serif;
    color: white;
    margin: 0 15px;
    opacity: 0.0;
    padding-top: 15px;
}

/* Fade text animation effect for the last 2 parallax images */

.parallax-fade {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 60px;
}

.parallax-fade p {
    display: inline-flex;
    font-family: "Lato", sans-serif;
    color: white;
    margin: 0 15px;
    opacity: 0.0;
    animation: parallaxFade 2.5s infinite alternate;
}

.animate p {
    animation: rotate 3s 1 forwards;
}

.animate2 p {
    animation: rotateTwo 3s 1 forwards;
}

.animate3 p {
    animation: rotateThree 3s infinite alternate;
}

/*First animate p tags */

.animate p:nth-of-type(1) {
    animation-delay: 0.1s;
}

.animate p:nth-of-type(2) {
    animation-delay: 0.2s;
}

.animate p:nth-of-type(3) {
    animation-delay: 0.3s;
}

.animate p:nth-of-type(4) {
    animation-delay: 0.4s;
}

.animate p:nth-of-type(5) {
    animation-delay: 0.5s;
}

.animate p:nth-of-type(6) {
    animation-delay: 0.6s;
}

.animate p:nth-of-type(7) {
    animation-delay: 0.7s;
}

.animate p:nth-of-type(8) {
    animation-delay: 0.8s;
}

.animate p:nth-of-type(9) {
    animation-delay: 0.9s;
}

.animate p:nth-of-type(10) {
    animation-delay: 0.10s;
}

.animate p:nth-of-type(11) {
    animation-delay: 0.11s;
};

.animate p:nth-of-type(12) {
    animation-delay: 0.12s;
}

.animate p:nth-of-type(13) {
    animation-delay: 0.13s;
}

.animate p:nth-of-type(14) {
    animation-delay: 0.14s;
}

.animate p:nth-of-type(15) {
    animation-delay: 0.15s;
}

.animate p:nth-of-type(16) {
    animation-delay: 0.16s;
}

.animate p:nth-of-type(17) {
    animation-delay: 0.17s
}

.animate p:nth-of-type(18) {
    animation-delay: 0.18s;
}

.animate p:nth-of-type(19) {
    animation-delay: 0.19s;
}

.animate p:nth-of-type(20) {
    animation-delay: 0.20s;
}

/*Second animate p tags */

.animate2 p:nth-of-type(1) {
    animation-delay: 2.4s;
}

.animate2 p:nth-of-type(2) {
    animation-delay: 2.5s;
}

.animate2 p:nth-of-type(3) {
    animation-delay: 2.6s;
}

.animate2 p:nth-of-type(4) {
    animation-delay: 2.7s;
}

.animate2 p:nth-of-type(5) {
    animation-delay: 2.8s;
}

.animate2 p:nth-of-type(6) {
    animation-delay: 2.9s;
}

/*Third animate p tags */

.animate3 p:nth-of-type(1) {
    animation-delay: 4.1s;
}

.animate3 p:nth-of-type(2) {
    animation-delay: 4.3s;
}

.animate3 p:nth-of-type(3) {
    animation-delay: 4.5s;
}

.animate3 p:nth-of-type(4) {
    animation-delay: 4.7s;
}

.animate3 p:nth-of-type(5) {
    animation-delay: 4.9s;
}

/* Animations */

@keyframes rotate {
    0% {
        transform: rotateY(90deg) translateY(-800%);
        opacity: 0.0;
    }
    100% {
        transform: rotateY(360deg) translateY(25%);
        opacity: 1.0;
    }
}

@keyframes rotateTwo {
    0% {
        transform: rotateY(90deg) translateY(825%);
        opacity: 0.0;
    }
    100% {
        transform: rotateY(360deg) translateY(-20%);
        opacity: 1.0;
    }
}

@keyframes rotateThree {
    0% {
        transform: rotateY(90deg) translateY(825%);
        opacity: 0.0;
    }
    100% {
        transform: rotateY(360deg) translateY(-20%);
        opacity: 1.0;
    }
}

@keyframes parallaxFade {
    0% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}