body,
html {
    font-size: 16px;
    line-height: 1.2em;
    /* Height and Width for landing page image to cover 100% */
    height: 100%;
    width: 100%;
}

body,
html,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato", sans-serif;
}

/* header {
    display: flex;
    display: -webkit-flex;
} */

/* About Me Section */

.about {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    text-align: center;
    width: 50%;
    margin: auto;
}

/* styling content for bottom of about me section */

/* .aboutBottom serves as second half of "about me" container */

.aboutBottom {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    align-content: space-between;
}

/* Avatar Card */

.aboutCardContainer {
    display: block;
    padding: 25px;
}

.aboutCard {
    box-shadow: 0 1.2px 8px 0 black;
    transition: 0.3s;
    border-radius: 5px;
    width: 300px;
}

.aboutCard:hover {
    box-shadow: 0 4px 16px 0 black;
}

.aboutCard img {
    max-width: 100%;
    border-radius: 5px 5px 0 0;
    opacity: .8;
}

.aboutCard img:hover {
    opacity: 1;
}

.containerCard {
    padding: 4px 16px;
}

/* Information div alongside avatar div */

.aboutInformation {
    border-top: 1px solid rgb(220, 220, 220);
    width: 40%;
}

.aboutInformation h3 {
    text-align: center;
}

.aboutInformation ul {
    margin-left: 70px;
}

.aboutInformation p {
    text-align: center;
}

.borderH1 {
    border-bottom: 1px solid rgb(220, 220, 220);
    text-align: center;
    padding: 0 0 22px 0;
}

/* Grouping image classes for general parallax css */

.parallaxImage1,
.parallaxImage2,
.parallaxImage3 {
    /* Parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Images used for parallax */

.parallaxImage1 {
    /* Image for the first parallax */
    background-image: url("../Images/CafeMac_sml.jpg");
    /* Image dimensions for full landing page coverage */
    height: 100%;
    width: 100%;
}

.parallaxImage2 {
    /* Image for second parallax */
    background-image: url("../Images/DesktopMac_sml.jpg");
    /* Image dimensions */
    height: 450px;
    width: 100%;
}

.parallaxImage3 {
    /* Image for third parallax */
    background-image: url("../Images/NotebookMac_sml.jpg");
    /* Image dimensions */
    height: 450px;
    width: 100%;
}