body,
html {
    font-size: 16px;
    line-height: 1.5em;
    /* Height and Width for landing page image to cover 100% */
    min-height: 100%;
    min-width: 100%;
    margin: 0;
}

main {
    width: 100;
    height: 100;
}

body,
html,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato", sans-serif;
}

header {
    display: block;
    width: 100vw;
    margin: auto;
}

/* About Me Section */

.about {
    flex-direction: column;
    text-align: center;
    width: 80%;
    margin: auto;
}

/* styling content for bottom of about me section */

/* Avatar Card */

.about-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-card-container {
    /* TODO: Overlaying text divs. */
}

.about-card {
    box-shadow: 0 1.2px 8px 0 black;
    transition: 0.3s;
    border-radius: 5px;
    width: 300px;
}

.about-card:hover {
    box-shadow: 0 4px 16px 0 black;
}

.about-card img {
    max-width: 100%;
    border-radius: 5px 5px 0 0;
}

.about-card img:hover {
    opacity: 1;
}

.about-card-description {
    padding: 0px 16px;
    text-align: center;
}

/* Information div alongside avatar div */

.about-information {
    border-top: 1px solid rgb(220, 220, 220);
    width: 70%;
    text-align: center;
}

.about-information li {
    margin: 5px 0 5px 0;
}

.about-information ul {
    padding-bottom: 20px;
    padding: 0;
}

.about-information p {
    text-align: center;
}

.border-H1 {
    border-bottom: 1px solid rgb(220, 220, 220);
    text-align: center;
    padding: 0 0 22px 0;
}

/* Project Cards */

.project-container {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.project-card {
    box-shadow: 0 1.2px 8px 0 black;
    transition: 0.3s;
    border-radius: 5px;
    margin: 25px;
    max-width: 600px;
}

.project-card p {
    margin: auto;
}

.project-card:hover {
    box-shadow: 0 4px 16px 0 black;
}

.project-card img {
    max-width: 100%;
    box-shadow: 0 1.2px 8px 0 black;
    border-radius: 5px 5px 0 0;
    margin-bottom: -9px;
}

.project-image {
    /* TODO: Create overlaying titles */
}

/* Contact Styles */

.contact-container {
    display: flex;
    display: -webkit-flex;
    justify-content: space-around;
    align-items: center;
}

.contact {
    width: 10em;
    margin: 25px;
}

/* Icon Styling and CREDITS to FaltIcon for the images */

.icons {
    text-align: center;
}

/* Grouping image classes for general parallax css */

#parallax-image1,
#parallax-image2,
#parallax-image3 {
    /* Parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Images used for parallax */

#parallax-image1 {
    /* Image for the first parallax */
    background-image: url("../Images/Parallax/CafeMac_sml.jpg");
    /* Image dimensions for full landing page coverage */
    height: 85vmax;
    width: 100vw;
}

#parallax-image2 {
    /* Image for second parallax */
    background-image: url("../Images/Parallax/DesktopMac_sml.jpg");
    /* Image dimensions */
    height: 450px;
    width: 100%;
}

#parallax-image3 {
    /* Image for third parallax */
    background-image: url("../Images/Parallax/NotebookMac_sml.jpg");
    /* Image dimensions */
    height: 450px;
    width: 100%;
}

/* navbar styles */

/* 
navbar setup as a ID as .getElementsByClassName does 
grab navbar as a class, however Javascript renders the css 'top'
property as undefined when changed to class.
*/

#navbar {
    background-color: black;
    position: fixed;
    top: -80px;
    width: 100vw;
    transition: top 0.3s;
    display: flex;
    justify-content: center;
    z-index: 1;
}

#navbar a {
    color: whitesmoke;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    width: 100%;
}

#navbar a:hover {
    color: black;
    background-color: #ddd;
}