body,
html {
    font-size: 16px;
    line-height: 1.2em;
    /* Height and Width for landing page image to cover 100% */
    height: 100%;
    width: 100%;
}

body,
html,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato", sans-serif;
}

header {
    display: block;
    max-width: 1000px;
    margin: auto;
}

/* About Me Section */

.about {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    text-align: center;
    width: 80%;
    margin: auto;
}

/* styling content for bottom of about me section */

/* Avatar Card */

.aboutBottom {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
}

.aboutCardContainer {
    padding: 25px;
}

.aboutCard {
    box-shadow: 0 1.2px 8px 0 black;
    transition: 0.3s;
    border-radius: 5px;
    width: 300px;
}

.aboutCard:hover {
    box-shadow: 0 4px 16px 0 black;
}

.aboutCard img {
    max-width: 100%;
    border-radius: 5px 5px 0 0;
}

.aboutCard img:hover {
    opacity: 1;
}

.aboutCardDescription {
    padding: 4px 16px;
}

/* Information div alongside avatar div */

.aboutInformation {
    border-top: 1px solid rgb(220, 220, 220);
    width: 70%;
}

.aboutInformation h3 {
    text-align: center;
}

.aboutInformation ul {
    margin-left: 70px;
    padding-bottom: 20px;
}

.aboutInformation p {
    text-align: center;
}

.borderH1 {
    border-bottom: 1px solid rgb(220, 220, 220);
    text-align: center;
    padding: 0 0 22px 0;
}

/* Project Cards */

.projectContainer {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    height: 850px;
    text-align: center;
}

.projectCard {
    box-shadow: 0 1.2px 8px 0 black;
    transition: 0.3s;
    border-radius: 5px;
    margin: 25px;
    width: 500px;
}

.projectCard:hover {
    box-shadow: 0 4px 16px 0 black;
}

.projectCard img {
    max-width: 100%;
    box-shadow: 0 1.2px 8px 0 black;
    border-radius: 5px 5px 0 0;
}

.projectCardInformation,
h1 {
    padding: 10px;
    border-bottom: 1px solid gray;
}

.projectCardInformation,
i {
    margin-right: 70%;
}

/* Contact Styles */

.contactContainer {
    display: flex;
    display: -webkit-flex;
    justify-content: space-around;
    align-items: center;
}

.contact {
    width: 10em;
    margin: 25px;
}

/* Icon Styling and CREDITS to FaltIcon for the images */

.icons {
    text-align: center;
}

/* Grouping image classes for general parallax css */

.parallaxImage1,
#parallaxImage2,
.parallaxImage3 {
    /* Parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Images used for parallax */

.parallaxImage1 {
    /* Image for the first parallax */
    background-image: url("../Images/Parallax/CafeMac_sml.jpg");
    /* Image dimensions for full landing page coverage */
    height: 100%;
    width: 100%;
}

#parallaxImage2 {
    /* Image for second parallax */
    background-image: url("../Images/Parallax/DesktopMac_sml.jpg");
    /* Image dimensions */
    height: 450px;
    width: 100%;
}

.parallaxImage3 {
    /* Image for third parallax */
    background-image: url("../Images/Parallax/NotebookMac_sml.jpg");
    /* Image dimensions */
    height: 450px;
    width: 100%;
}

/* navbar styles */

#navbar {
    background-color: black;
    position: fixed;
    top: -50px;
    left: -0.5px;
    width: 100vw;
    transition: top 0.3s;
    display: flex;
    justify-content: center;
}

#navbar a {
    color: whitesmoke;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    width: 100%;
}

#navbar a:hover {
    color: black;
    background-color: #ddd;
}