/* Breakpoints for animations */

/* Landing animation */

/* 
TODO: Re-evaluate responsive styles upon recent main.css changes.

Responsive: 400 width x 888 height
Galaxy S5: 360 width x 640 height
Pixel 2: 411 width x 731 height
pixel 2 XL: 411 width x 823 height
iPhone 5/SE: 320 width x 568 height
iPhone 6/7/8: 375 width x 667 height
iPhone 6/7/8 Plus: 414 width x 736 height
iPhone X: 375 width x 812 height
iPad: 768 width x 1024 height
iPad Pro: 1024 width x 1366 height
*/