/* Breakpoints for animations */

/* Landing animation */

@media screen and (max-width: 320px) {
    .animate-container {
        top: 4.5em;
    }
    .landing-animation p {
        font-size: .2em;
        margin: 0;
    }
    .parallax-fade {
        font-size: 1.3em;
    }
}

@media screen and (min-width: 325px) and (max-width: 400px) {
    .landing-animation p {
        font-size: .26em;
        margin: 0;
    }
    .animate-container {
        top: 5.99em;
    }
    .parallax-fade {
        font-size: 1.6em
    }
}

@media screen and (min-width: 410px) and (max-width: 549px) {
    .landing-animation p {
        font-size: 15px;
        margin: 0;
    }
    .animate-container {
        top: 6.2em;
    }
    .parallax-fade {
        font-size: 2em;
    }
}

@media screen and (min-width: 550px) and (max-width: 700px) {
    .landing-animation p {
        font-size: 20px;
        margin: 0;
    }
    .parallax-fade {
        font-size: 3em;
    }
}

@media screen and (min-width: 568px) and (max-width: 568px) {
    .animate-container {
        top: 2em;
    }

    .landing-animation p {
        font-size: .5em;
    }
}

@media screen and (min-width: 640px) and (max-width: 640px) {
    .animate-container {
        top: 2.4em;
    }

    .landing-animation p {
        font-size: .5em;
    }
}

@media screen and (min-width: 667px) and (max-width: 667px) {
    .animate-container {
        top: 2.2em;
    }

    .landing-animation p {
        font-size: .6em;
    }
}

@media screen and (min-width: 700px) and (max-width: 799px) {
    .landing-animation p {
        font-size: .8em;
        margin: 0;
    }
    .animate-container {
        top: 8em;
    }
    .parallax-fade {
        font-size: 4em;
    }
}

@media screen and (min-width: 731px) and (max-width: 731px) {
    .animate-container {
        top: 2.8em;
    }

    .landing-animation p {
        font-size: .6em;
    }
}

@media screen and (min-width: 736px) and (max-width: 736px) {
    .animate-container {
        top: 2.8em;
    }

    .landing-animation p {
        font-size: .7em;
    }
}

@media screen and (min-width: 800px) {
    .landing-animation p {
        font-size: .85em;
        margin: 0;
    }
    .animate-container {
        top: 6.5em;
    }
    .parallax-fade {
        font-size: 4.8em;
    }
}

@media screen and (min-width: 812px) and (max-width: 812px) {
    .animate-container {
        top: 2.2em;
    }
}

@media screen and (min-width: 823px) and (max-width: 823px) {
    .animate-container {
        top: 2.8em;
    }

    .landing-animation p {
        font-size: .8em;
    }
}

@media screen and (min-width: 950px) {
    .landing-animation p {
        font-size: 1.1em;
        margin: 0 2px;
    }

    .animate-container {
        top: 12em;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1024px) {
    .animate-container {
        top: 6.8em;
    }

    .landing-animation p {
        font-size: .95em;
    }
}

@media screen and (min-width: 1300px) {
    .landing-animation {
        font-size: 1.1em;
        margin: 0 15px;
    }
    .animate-container {
        top: 9em;
    }
}

@media screen and (min-width: 1366px) and (max-width: 1366px) {
    .landing-animation p {
        font-size: 1.2em;
    }
}

/* Breakpoints for general styling */

@media screen and (max-width: 500px) {
    .project-card {
        max-width: 90%;
    }
}

@media screen and (max-width: 549px) {
    body,
    html {
        line-height: 1.6em;
    }
    .about-bottom {
        flex-direction: column;
    }
    .about-information ul {
        margin-left: 0;
    }
    .project-container {
        flex-direction: column;
        height: 100%;
    }
}

@media screen and (min-width: 550px) {
    body,
    html {
        line-height: 1.6em;
        font-size: 1.25em;
    }
    .about-bottom {
        flex-direction: column;
    }
    .about-information ul {
        margin: 0;
    }
    .project-container {
        flex-direction: column;
        height: 100%;
    }
    .project-card {
        max-width: 100%;
    }
}

@media screen and (min-width: 900px) {
    body,
    html {
        line-height: 1.5em;
        font-size: 25px;
    }
}